body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    color: #000;
    /* padding: 20px; */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}
.black{
    padding: 10px;
    background-color: #000;
    color: white;
    height: 500px;
}

/* h1, h2 {
    margin: 0 0 20px 0;
} */

.timezone-box {
    border: 1px solid #000;
    padding: 10px;
    /* margin-bottom: 20px; */
}

.address-input {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.address-input input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #000;
    border-radius: 4px;
}

.address-input button {
    padding: 10px 20px;
    border: none;
    background-color:white;
    color: black;
    cursor: pointer;
    border-radius: 4px;
}

.error-message {
    color: red;
    display: none;
}